body {
    background-image: url("background1.jpg");
    background-size: cover;
}

#header-background{
    background-color:rgba(44, 82, 185, 0.5);
    background-repeat: no-repeat;
    background-size: 500px 500px;
    background-position: center;
    padding: 1px;
}
#header{
    text-align: center; 
    font-size: 30px;
}
#Date{
    font-size: 50px;
    padding: 0px;
    margin: 5px;
}
#Foodlist{
    padding: 5px;
    font-size: 35px;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.801) 900px, transparent 20px, transparent);
}


#Foodlist p{
    font-size: 50px;
    margin: 0px;
}

#MonFood1 {
    font-weight: bold;
}
#MonFood2 {
    font-weight: bold;
}


.about{
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: rgba(0, 255, 255, 0.726);
color: black;
text-align: left;
font-size: 12px;
line-height: 12px;
margin: 0px;  
}