body {
    background-image: url("background1.jpg");
    background-size: cover;
}

#header-background{
    background-color:rgba(44, 82, 185, 0.5);
    background-repeat: no-repeat;
    background-size: 500px 500px;
    background-position: center;
    padding: 5px;
}
#header{
    text-align: center; 
    font-size: 25px;
}
#Foodlist{
    font-size: 25px;
    background-color: white;
    padding: 5px;
    background-position: left;
}



.about{
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: aqua;
color: black;
text-align: left;
font-size: 12px;
line-height: 12px;
margin: 0px;  
}